aside
    picture.logo
        img(src="/assets/logo-colamer.svg", alt="Logo Colegio Americano de Cali")
    nav
        include ./menu.pug
    a.exit(href="/logout") 
        i(class="ri-logout-box-line")
        span Salir
