//Colors Values
$mainColor: #4180E2;
$secondColor: #FFBA00;
$inputsColor: #DADADA;
$errorColor: #FA2828;
$successColor: #48e015;
$black: #161616;
$white:#FAFAFA;
//Titles Styles
//Bold Titles
$titleBigBold:700 45px 'Poppins', sans-serif  ;
$titleMediumBold:700 35px  'Poppins',sans-serif;
$titleSmallBold:700 25px 'Poppins', sans-serif;
//Normal Titles
$titleBigNormal:400 45px 'Poppins', sans-serif  ;
$titleMediumNormal:400 35px 'Poppins',sans-serif  ;
$titleSmallNormal:400 25px 'Poppins', sans-serif  ;
//Light Titles
$titleBigLight:200 45px 'Poppins', sans-serif  ;
$titleMediumLight:200 35px 'Poppins',sans-serif  ;
$titleSmallLight:200 25px 'Poppins', sans-serif  ;
//Form Components Styles
$btnTxt:700 18px 'Poppins',sans-serif  ;
$labelTxt:700 16px 'Poppins', sans-serif  ;
$bigInputs:400 25px 'Roboto', sans-serif  ;
$normalInputs: 400 16px 'Roboto',sans-serif;
$bigInputsBold:700 25px 'Roboto', sans-serif;
//Texts Styles
$text:400 16px 'Roboto', sans-serif  ;
$textBold:700 16px 'Roboto', sans-serif  ;

//Inputs Mixin
@mixin d-input{
    padding: 15px;
    border: 0;
    background: $inputsColor;
    font: $normalInputs;
    outline: none;
    margin:5px 0 15px 0;
}
@mixin d-label{
    color: $mainColor;
    font: $labelTxt;
    cursor:pointer;
}
@mixin d-btn{
    width: 100%;
    font: $btnTxt;
    border: 0;
    background: $mainColor;
    padding: 10px;
    transition: all .3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
    &:active{
        transform: scale(.95);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $white;
    display: flex;
}

.fakeAside{
    width: 20vw;
    height: 100vh;
}
aside{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    position: fixed;
    .logo{
        img{
            width: 125px;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        .m-item{
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            cursor: pointer;
            &:last-child{
                margin-bottom: 0;
            }
            i,span{
                transition: all .3s ease;
                text-decoration: none;
                color: rgba($color: $black, $alpha:.4);
                font: $btnTxt;
            }
            i{
                margin-right: 5px;
            }
            &:hover{
                i,span{
                    color: $mainColor
                }
            }
        }
        .actualPage{
            background: $mainColor;
            &:hover{
                i,span{
                    color: $white;
                }
            }
            i,span{
                color: $white;
            }
        }
    }
    .exit{
        width: 100%;
        background: $errorColor;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all .3s ease;
        i,span{
            color: $white;
        text-decoration: none;
            font: $btnTxt;
        }
        i{
            margin-right: 5px;
        }
        &:hover{
            transform: scale(.95) translateX(-10px);
        }
    }
}
//Modal Default Styles
.popUpBg{
    //Sizes
    width: 100vw;
    height: 100vh;
    //Overlaping
    position: fixed;
    z-index: 10;
    //Styles
    background: rgba($color: $black, $alpha: .6);
    //Box Model
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    //Hidde State Props
    top: 200%;
    opacity: 0;
    transition: all .6s ease;
    .modal{
        //Sizes
        min-width: 25%;
        min-height: 15%;
        //Styles
        background: $white;
        padding: 25px;
        //Box Model
        display: flex;
        flex-direction: column;
        align-items: center;
        //Position
        position: relative;
        .modalCloser{
            //Corner Location
            position: absolute;
            top: 10px;
            right: 10px;
            //Box Model
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            //Styles
            border: 0;
            background: transparent;
            transition: all .3s ease;
            cursor: pointer;
            //Font Styles
            font-size: 25px;
            //States Styles
            &:hover{
                color: $errorColor;
                transform: rotate(90deg);
            }
            &:active{
                color: $errorColor;
                transform: rotate(90deg) scale(.9);
            }
        }
        .modalTitleWp{
            //Sizes
            width: 100%;
            //Box Model
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin-bottom: 15px;
            h2{
                font: $titleSmallBold;
            }
        }
        .modalContentWp{
            //Sizes
            width: 100%;
            //Styles
            //Box Model
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.activer{
    //Sizes
    width: 3rem;
    height: 3rem;
    //Overlaping
    position: fixed;
    bottom: 100px;
    right: 100px;
    //Styles
    background: $mainColor;
    border: 0;
    padding: 5px;
    cursor: pointer;
    //Font Styles
    color: $white;
    font-size: 30px;
    //Box Model
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    //States
    &:hover{
        transform: rotate(90deg);
    }
    &:active{
        transform: rotate(90deg) scale(.9);
    }
}