//Colors Values
$mainColor: #4180E2;
$secondColor: #FFBA00;
$inputsColor: #DADADA;
$errorColor: #FA2828;
$successColor: #40F400;
$black: #161616;
$white:#FAFAFA;
//Titles Styles
//Bold Titles
$titleBigBold:700 45px 'Poppins', sans-serif  ;
$titleMediumBold:700 35px  'Poppins',sans-serif;
$titleSmallBold:700 25px 'Poppins', sans-serif;
//Normal Titles
$titleBigNormal:400 45px 'Poppins', sans-serif  ;
$titleMediumNormal:400 35px 'Poppins',sans-serif  ;
$titleSmallNormal:400 25px 'Poppins', sans-serif  ;
//Light Titles
$titleBigLight:200 45px 'Poppins', sans-serif  ;
$titleMediumLight:200 35px 'Poppins',sans-serif  ;
$titleSmallLight:200 25px 'Poppins', sans-serif  ;
//Form Components Styles
$btnTxt:700 18px 'Poppins',sans-serif  ;
$labelTxt:700 16px 'Poppins', sans-serif  ;
$bigInputs:400 25px 'Roboto', sans-serif  ;
$normalInputs: 400 16px 'Roboto',sans-serif;
$bigInputsBold:700 25px 'Roboto', sans-serif;
//Texts Styles
$text:400 16px 'Roboto', sans-serif  ;
$textBold:700 16px 'Roboto', sans-serif  ;

//Inputs Mixin
@mixin d-input{
    padding: 10px;
    border: 0;
    background: $inputsColor;
    font: $normalInputs;
    outline: none;
    margin:5px 0 15px 0;
}
@mixin d-label{
    color: $mainColor;
    font: $labelTxt;
}
@mixin d-btn{
    width: 100%;
    font: $btnTxt;
    border: 0;
    background: $mainColor;
    padding: 10px;
    transition: all .3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
    &:active{
        transform: scale(.95);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $white;
    display: flex;
}


aside{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    .logo{
        img{
            width: 125px;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        .m-item{
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            cursor: pointer;
            &:last-child{
                margin-bottom: 0;
            }
            i,span{
                transition: all .3s ease;
                text-decoration: none;
                color: rgba($color: $black, $alpha:.4);
                font: $btnTxt;
            }
            i{
                margin-right: 5px;
            }
            &:hover{
                i,span{
                    color: $mainColor
                }
            }
        }
        .actualPage{
            background: $mainColor;
            &:hover{
                i,span{
                    color: $white;
                }
            }
            i,span{
                color: $white;
            }
        }
    }
    .exit{
        width: 100%;
        background: $errorColor;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all .3s ease;
        i,span{
            color: $white;
        text-decoration: none;
            font: $btnTxt;
        }
        i{
            margin-right: 5px;
        }
        &:hover{
            transform: scale(.95) translateX(-10px);
        }
    }
}

main{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 25px;
    .pageHeader{
        width: 100%;
        h1{
            font: $titleMediumBold
        }
    }
}