main{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 25px;
    .pageHeader{
        width: 100%;
        h1{
            font: $titleMediumBold
        }
    }
}