doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gestion de Usuarios
        link(href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/private/users/style.css")
    body
        //Pop Up Tags
        // -> This is the background
        .popUpBg 
            // -> This is the white Square in which the content lives
            .modal 
                // -> The container in which lives the title of the process
                .modalTitleWp
                    h2 Crear nuevo Usuario
                // -> Here Live the content and the main elements of the action or process
                .modalContentWp
                    // This Labels refers to the new user create process
                    label.fieldLabel#emailLabel(for="email") Correo
                    input.field#email(type="email" placeholder="tucorreo@colamer.edu.co")
                    p#emailPosibleError.posibleError
                    label.fieldLabel#usernameLabel(for="username") Nombre de usuario 
                    input.field#username(type="text" placeholder="Nombre usuario")
                    p#usernamePosibleError.posibleError
                    label.fieldLabel#passwordLabel(for="password") Contraseña
                    input.field#password(type="password" placeholder="Contraseña supersegura :)")
                    p#passwordPosibleError.posibleError
                    #passwordFeatureList
                        ul
                            li#digitFeature 1 Numero
                            li#uppercaseFeature 1 Mayuscula
                            li#charactersFeature 10 caracteres
                    label.fieldLabel#rolLabel(for="rol") Rol
                    select.field#rol(name="")
                        option(value="user") Usuario
                        option(value="assistant") Auxiliar
                        option(value="admin") Administrador
                    p#rolPosibleError.posibleError
                    button.submitBtn Crear Usuario
                    // -> This is a paragraph that works like a process notify and allow give context to the user
                    p.processContext 
                // -> This is the "x" icon that allow the user to close the modal
                button.modalCloser 
                    i(class="ri-close-line")
            

        button.createUser#addU.activer
            i(class="ri-add-line")
        include ../layout/sidebar/sidebar.pug
        main.users
            header.pageHeader
                h1 Gestion de usuarios
            .search
                .searchUtils
                    input.userSearchbar(type="search", name="query" placeholder="Ingresa tu busqueda")
                    .searchConfig
                        .configTitle
                            h3.headerConfig Configuracion de busqueda
                            button#toggleConfig(isOpen="true")
                                i(class="ri-arrow-down-s-line")
                        .configOptions
                            .option#searchMode
                                label.optLabel(for="searchMode") Buscar mediante
                                .tagsSelectCont
                                    button.tag#usernameTag(active="true")
                                        i(class="ri-font-size")
                                        .
                                            Nombre
                                    .modesTagsContainer(isOpen="false")
                                        button.tag#emailTag(active="false")
                                            i(class="ri-mail-line")
                                            .
                                                Correo
                                        button.tag#testTag(active="false")
                                            i(class="ri-flask-line")
                                            .
                                                test
                            //Here the tags of the filter element lives
                            //Main container of the filters
                            .option#filters
                                //This is the label
                                label.optLabel(for="addFilter") Filtrar por
                                //This container have inside the posible options that can be disaplyed after using the #addFilter Button
                                .addedOpts()
                                        //The selected optios works as the follows
                                        //The element have the attribute of "idWord" this have the task to work like a bridge between the other elements
                                        //elements that belongs to the filter
                                        //The attribute selected have the task to display or hide the selectedOption
                                        .selectedOpt#rolOpt(selected="false" filterValue="" idWord="rol")
                                            i(class="ri-profile-line")
                                            .
                                                Rol
                                            //this is the value selector of the filter
                                            select#rolSelectOpt.selectFilter()
                                                option(value="admin") Administrador
                                                option(value="assitent") Auxiliar
                                                option(value="user") Usuario
                                            //This is the button to unselect the filter option
                                            button.deleteOpt(idWord="rol")
                                                i(class="ri-close-line" idWord="rol")
                                        .selectedOpt#testOpt(selected='false' idWord="test")
                                            i(class="ri-flask-line")
                                            .
                                                Test
                                            select#testSelectOpt.selectFilter() 
                                                option(value="1") one
                                                option(value="2") two
                                            button.deleteOpt(idWord="test")
                                                i(class="ri-close-line" idWord="test")
                                //This container have inside the add button and the posible options to select
                                .addOptsCont
                                    //The famous add button
                                    //the "isselecting" prop is key because this prop allows the code to identify if the button is active or not
                                    button#addFilter(isselecting="false")
                                        //Simply -> The icon +
                                        i( class="ri-add-line")
                                    //This container have inside the options that can be added
                                    .addOpts
                                        //The option structure work by the as the follow way
                                        //His ID start with the name of the filter
                                        //Also have an attribute called "idWord" the value is only the name of the filter
                                        //This idWord have the task of be a bridge to manipulate the other elements that belongs to the filter
                                        //The selected attribute is key, because in case that the value of this will false the filter will displayed
                                        //Otherwise the filter display wont be display
                                        button.optFilter#rolFilter(selected="false" idWord="rol")
                                            i(class="ri-profile-line" idWord="rol")
                                            .
                                                Rol
                                        button.optFilter#testFilter(selected='false' idWord="test")
                                            i(class="ri-flask-line" idWord="test")
                                            .
                                                Test
            .wpResults
                header.titleResults
                    h2 Resultados busqueda
                .results
                    
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" crossorigin) 
        script(src="/js/private/defaults/popUp.js")
        script(src="/js/private/users/create_user.js")
        script(src="/js/private/users/search_user_config_funcs.js") 
        script(src="/js/private/users/search_user.js") 