doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gestion de Usuarios
        link(href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/private/users/style.css")
    body
        .popUpBg
            .modal
                .modalTitleWp
                    h2 Crear nuevo Usuario
                .modalContentWp
                    label(for="") Correo
                    input(type="text").field
                    input(type="text").field
                    button.submitBtn Crear Usuario
                button.modalCloser
                    i(class="ri-close-line")
            

        button.createUser#addU.activer
            i(class="ri-add-line")
        include ../layout/sidebar/sidebar.pug
        main.users
            header.pageHeader
                h1 Gestion de usuarios
            .search
                .searchUtils
                    input.userSearchbar(type="search", name="query" placeholder="Ingresa tu busqueda")
                    select#filter.searchbarFilter(name="f-query")
                        option(value="") Rol
                        option(value="") Nombre
                .resultsViews
                    button.view#table 
                        i(class="ri-list-check") 
                    button.view#card
                        i(class="ri-table-line")
            .wpResults
                header.titleResults
                    h2 Resultados busqueda
                .results
                    

        script(src="/js/private/defaults/popUp.js") 