* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #FAFAFA;
  display: flex; }

.fakeAside {
  width: 20vw;
  height: 100vh; }

aside {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  position: fixed; }
  aside .logo img {
    width: 125px; }
  aside nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    aside nav .m-item {
      margin-bottom: 15px;
      padding: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      cursor: pointer; }
      aside nav .m-item:last-child {
        margin-bottom: 0; }
      aside nav .m-item i, aside nav .m-item span {
        transition: all .3s ease;
        text-decoration: none;
        color: rgba(22, 22, 22, 0.4);
        font: 700 18px "Poppins", sans-serif; }
      aside nav .m-item i {
        margin-right: 5px; }
      aside nav .m-item:hover i, aside nav .m-item:hover span {
        color: #4180E2; }
    aside nav .actualPage {
      background: #4180E2; }
      aside nav .actualPage:hover i, aside nav .actualPage:hover span {
        color: #FAFAFA; }
      aside nav .actualPage i, aside nav .actualPage span {
        color: #FAFAFA; }
  aside .exit {
    width: 100%;
    background: #FA2828;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease; }
    aside .exit i, aside .exit span {
      color: #FAFAFA;
      text-decoration: none;
      font: 700 18px "Poppins", sans-serif; }
    aside .exit i {
      margin-right: 5px; }
    aside .exit:hover {
      transform: scale(0.95) translateX(-10px); }

.popUpBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background: rgba(22, 22, 22, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  top: 200%;
  opacity: 0;
  transition: all .6s ease; }
  .popUpBg .modal {
    min-width: 25%;
    min-height: 15%;
    background: #FAFAFA;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .popUpBg .modal .modalCloser {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 0;
      background: transparent;
      transition: all .3s ease;
      cursor: pointer;
      font-size: 25px; }
      .popUpBg .modal .modalCloser:hover {
        color: #FA2828;
        transform: rotate(90deg); }
      .popUpBg .modal .modalCloser:active {
        color: #FA2828;
        transform: rotate(90deg) scale(0.9); }
    .popUpBg .modal .modalTitleWp {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin-bottom: 15px; }
      .popUpBg .modal .modalTitleWp h2 {
        font: 700 25px "Poppins", sans-serif; }
    .popUpBg .modal .modalContentWp {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }

.activer {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 100px;
  right: 100px;
  background: #4180E2;
  border: 0;
  padding: 5px;
  cursor: pointer;
  color: #FAFAFA;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .3s ease; }
  .activer:hover {
    transform: rotate(90deg); }
  .activer:active {
    transform: rotate(90deg) scale(0.9); }

body {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

.wp404 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wp404 .errorTitle {
    font: 700 45px "Poppins", sans-serif;
    font-size: 65px; }
  .wp404 picture {
    display: flex;
    margin: 15px 0;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .wp404 picture img {
      width: 40%; }
  .wp404 .errorText {
    font: 400 25px "Poppins", sans-serif;
    margin: 0 0 15px 0; }
  .wp404 .btnBack {
    width: 100%;
    font: 700 18px "Poppins", sans-serif;
    border: 0;
    background: #4180E2;
    padding: 10px;
    transition: all .3s ease;
    cursor: pointer;
    width: auto;
    padding: 5px 35px;
    color: #FAFAFA;
    text-decoration: none; }
    .wp404 .btnBack:hover {
      transform: scale(1.05); }
    .wp404 .btnBack:active {
      transform: scale(0.95); }

/*# sourceMappingURL=404.css.map */
