@import '../../defaults/pallete';
@import '../../defaults/userlayout';

main {
    .pageHeader {
        display: flex;
        margin: 100px 0 0 0px;
        width: 100%;
        h1 {
            font: $titleMediumBold;
        }
    }
    .search {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        .searchUtils {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            input {
                display: flex;
                width: 70%;
                height: 20%;
                padding: 20px;
                color: #979797;
                background-color: #D9D9D9;
                font-family: 'Roboto';
                font-size: 25px;
                font-weight: 700;
                line-height: 29px;
                border: none;
            }
            #searchFilter {
                display: flex;
                width: 15%;
                margin-left: 20px;
                padding: 20px;
                font:700 25px 'Roboto';
                color: #979797;
                background-color: #D9D9D9;
                border: none;
            }
        }
        .resultsViews {
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            .changeView {
                display: flex;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                justify-content: center;
                align-items: center;
                background: #D9D9D9;
                font-size: 25px;
                border: none;
                transition: all .3s ease;
                cursor: pointer;
                &:last-child{
                    margin: 0;
                }
                &:hover{
                    transform: translateY(-5px);
                }
                &:active{
                    transform: scale(.9);
                }
            }
        }
    }
        
    .results {
        width: 100%;
        display: flex;
        margin-top: 20px;
        h1 {
            font: $titleMediumBold;
        }
    }

    .table {
        display: flex;
        width: 100%;
        height: 35%;
        margin-top: 20px;
        border: 5px solid red;
    }

    .nav {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        justify-content: center;
        align-items: center;
        .changePage {
            font-size: 30px;
            color: #4180E2;
            background: none;
            border: none;
            margin: 0 40px 0 40px;
        }
    }
}

.popUpBg{
    .modal{
        width: 35%;
        .modalContentWp{
            .field{
                width: 100%;
                @include d-input;
            }
            .fieldLabel{
                width: 100%;
                @include d-label;
            }
            .submitBtn{
                @include d-btn;
                color: $white;
            }
        }
    }
}