html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/private/books/books.css")
        title Gestion de Libros - Biblioteca Colegio Americano Cali
    body 
        include ../layout/sidebar/sidebar
        main
            header.pageHeader
                h1 Gestion de Libros
            .search
                .searchUtils
                    input(type="search" placeholder="Ingresa tu busqueda")
                    select#searchFilter()
                        option(value="" disabled selected) Filtro
                        optgroup(label="Filtros")
                            option(value="title") Titulo
                            option(value="author") Autor
                            option(value="collection") Coleccion    
                .resultsViews
                    button.changeView#listStyle     
                        i(class="ri-list-check")
                    button.changeView#tableStyle
                        i(class="ri-table-line")
            .results
                h1 Resultados de busqueda
            .table
                
            .nav 
                button.changePage#Back
                    i(class="ri-arrow-left-line")
                button.changePage#Next
                    i(class="ri-arrow-right-line")
                button.createBook#addB.activer
                    i(class="ri-add-line")
        .popUpBg
            .modal
                .modalTitleWp
                    h2 Guardar Libros
                .modalContentWp
                    .BigForm
                        img(src="", alt="")
                        .forms
                            input.field#tittle(type="text" placeholder="Titulo del Libro")
                            input.field#author(type="text" placeholder="Nombre de autor")
                            .form1
                                i(class="ri-barcode-line")
                                label.fieldLabel(for="Barcode")  Codigo de barras: 
                                input.field#barcode(type="text")
                            .form1
                                i(class="ri-barcode-box-fill")
                                label.fieldLabel(for="Code") Codigo Extra:
                                input.field#code(type="text")
                            .form1
                                i(class="ri-map-pin-line")
                                label.fieldLabel(for="Signatura") Signatura:
                                input.field#signature(type="text")
                            .form1
                                i(class="ri-t-box-line")
                                label.fieldLabel(for="Collection") Colección:
                                input.field#collection(type="text")
                            .form1
                                i(class="ri-hashtag")
                                label.fieldLabel(for="Copies") Ejemplares:
                                input.field#copies(type="number" inputmode="numeric")
                            .form1
                                i(class="ri-book-mark-fill")
                                label.fieldLabel(for="Borrowed") Prestados:
                                input.field#borrowed(type="number")
                    .end
                        input.link(value="Link" placeholder="Link de caratula")
                            
                        button.submitBtn 
                            i(class="ri-save-3-line")
                            span Guardar Libro
                    button.modalCloser
                        i(class="ri-close-line")

    script(src="/js/private/defaults/popUp.js") 