doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio de Sesion Biblioteca - Colegio Americano de Cali
        link(rel="shortcut icon", href="assets/favicon.png", type="image/x-icon")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/public/password_forget.css")
    body
        main
            section.slice#formSlice
                .login
                    h3.loginTitle Reestablezcamos tu contrase침a
                    p.callout Ingresa tu correo y te enviaremos un link para reestrablecer tu contrase침a
                    .fields
                        label(for="email") Correo
                        input.field#email(type="email", name="email" placeholder="tucorreo@colamer.edu.co")
                        span#contextLabel
                        button#btnSubmit() Enviar Link
            section.slice#bannerSlice
                picture.logo
                    img(src="/assets/logo-colamer.svg", alt="Logo Colegio Americano de Cali")
                h1.creds Proyecto productivo software gesti칩n bibliogr치fica
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" crossorigin) 