doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Link con Problemas
        link(rel="shortcut icon", href="assets/favicon.png", type="image/x-icon")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/public/errorToken.css")
    body
        .contextError
            .mainLabel
                h1.labelText Link con 
                    span.redText Problemas
                h3.subLabel Este token no es válido o ha expirado
            .errorReasons
                h3.reasonsTitle ¿Cuál es el problema de mi Link?
                ul.reasonsList
                    li Puede que este haya expirado(Duración máxima 10min)
                    li El token de este Link no ha sido generado de forma auténtica
                    li Ha sido utilizado más de una vez
            .actions
                a(href="/password-forget").newLink Obten un nuevo Link
                a(href="/sign-in").goLogin Ir al Inicio de sesion
        .projectStamp
            img(src="/assets/logo-colamer.svg", alt="Logo del Colegio Americano")
            h3.projectName PROYECTO PRODUCTIVO SOFTWARE DE GESTIÓN BIBLIOGRÁFICA
        