@import './../../defaults/pallete';
@import './../../defaults/userlayout';

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .searchUtils{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .userSearchbar{
            @include d-input;
            min-width: 50%;
            margin: 0 10px 0 0;
        }
        .searchbarFilter{
            @include d-input;
            margin: 0;
        }
    }
    .resultsViews{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        .view{
            padding: 5px;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-right: 10px;
            border: none;
            background: $inputsColor;
            transition: all .3s ease;
            cursor: pointer;
            &:last-child{
                margin: 0;
            }
            &:hover{
                transform: translateY(-5px);
            }
            &:active{
                transform: scale(.9);
            }
        }
    }
}
.wpResults{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .titleResults{
        width: 100%;
        h2{
            font: $titleSmallBold
        }
    }
}

.popUpBg{
    .modal{
        width: 35%;
        .modalContentWp{
            .field{
                //Sizes
                width: 100%;
                //Defaults
                @include d-input;
                margin-bottom: 8px;
                border: 2px solid transparent;
                transition: all .3s ease;
            }
            .fieldLabel{
                width: 100%;
                //Defaults
                @include d-label;
                transition: all .3s ease;
            }
            #passwordFeatureList{
                width: 100%;
                padding: 0 25px ;
                
                li{
                    font: $textBold;
                    color: rgba($color: $black, $alpha: .5);
                    margin-bottom: 10px;
                }
            }
            .posibleError{
                text-align: left;
                width: 100%;
                font: $textBold;
                color: $errorColor;
                margin-bottom: 10px;
            }
            .submitBtn{
                //Defaults
                @include d-btn;
                //Font Style
                color: $white;
            }
        }
    }
}