@import './../../defaults/pallete';
@import './../../defaults/userlayout';

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .searchUtils{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .userSearchbar{
            @include d-input;
            min-width: 100%;
            margin-bottom: 25px;
        }
        .searchConfig{
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .configTitle{
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                margin-bottom: 15px;
                .headerConfig{
                    font: $titleSmallBold;
                    font-size: 20px;
                    margin-right: 5px;
                }
                #toggleConfig{
                    width: 1.5rem;
                    height: 1.5rem;
                    font-size: 1.3rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                    background: transparent;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                        color: $mainColor;
                    }
                    &:active{
                        transform: rotate(180deg);
                    }
                }
            }
            .configOptions{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                .option{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    .optLabel{
                        font: $textBold;
                        color: rgba($color: $black, $alpha: .5);
                    }
                    .tagsSelectCont{
                        .tag{
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font: $textBold;
                            color: rgba($color: $black, $alpha: .5);
                            padding:8px;
                            position: relative;
                            background: $inputsColor;
                            border: 0;
                            transition: all .3s ease;
                            &:active{
                                transform: scale(.9);
                            }
                            i{
                                margin-right: 5px;
                            }

                        }
                        .modesTagsContainer{
                            position: absolute;
                            display: none;
                            flex-direction: column;
                            align-items: flex-start;
                            .tag{
                                margin-top: 10px;
                            }
                        }
                    }
                    .addedOpts{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 10px;
                        .selectedOpt{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            font: $textBold;
                            color: rgba($color: $black, $alpha: .5);
                            padding:8px;
                            background: $inputsColor;
                            border: 0;
                            gap: 5px;
                            &[selected="false"]{
                                display: none;
                            }
                            .selectFilter{
                                font: inherit;
                                background: transparent;
                                border: 0;
                                color: inherit;
                                cursor: pointer;
                                font-size: .95rem;
                                option{
                                    cursor: pointer;
                                    color: $black;
                                }
                            }
                            .deleteOpt{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                border: 0;
                                background: transparent;
                                color: inherit;
                                font: inherit;
                                cursor: pointer;
                                transition: all .3s ease;
                                &:hover,&:active{
                                    color: $errorColor;
                                }
                                &:active{
                                    transform: scale(.9);
                                }
                                i{
                                    font: inherit;
                                    color: inherit;

                                }
                            }
                        }
                    }
                    .addOptsCont{

                        #addFilter{
                            width: 1.5rem;
                            position: relative;
                            height: 1.5rem;
                            font: $text;
                            font-size: 1.3rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: rgba($color: $black, $alpha: .5);
                            border: 2px dotted rgba($color: $black, $alpha: .5);
                            transition: all .3s ease;
                            &:hover{
                                color: $successColor;
                                border-color: $successColor;
                            }
                            &:active{
                                color: $successColor;
                                border-color: $successColor;
                                transform: scale(.9);
                            }
                        }
                        .addOpts{
                            position: absolute;
                            display: none;
                            flex-direction: column;
                            align-items: flex-start;
                            .optFilter{
                                cursor: pointer;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                font: $textBold;
                                color: rgba($color: $black, $alpha: .5);
                                padding:8px;
                                background: $inputsColor;
                                border: 0;
                                margin-top: 10px;
                                transition: all .3s ease;
                                &:active{
                                    transform: scale(.9);
                                }
                                i{
                                    margin-right: 5px;
                                }
                                &[selected="true"]{
                                    display: none;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    .resultsViews{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        .view{
            padding: 5px;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-right: 10px;
            border: none;
            background: $inputsColor;
            transition: all .3s ease;
            cursor: pointer;
            &:last-child{
                margin: 0;
            }
            &:hover{
                transform: translateY(-5px);
            }
            &:active{
                transform: scale(.9);
            }
        }
    }
}
.wpResults{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .titleResults{
        width: 100%;
        h2{
            font: $titleSmallBold
        }
    }
}

.popUpBg{
    .modal{
        width: 35%;
        .modalContentWp{
            .field{
                //Sizes
                width: 100%;
                //Defaults
                @include d-input;
                margin-bottom: 8px;
                border: 2px solid transparent;
                transition: all .3s ease;
            }
            .processContext{
                display: none;
                width: 100%;
                margin-top: 15px;
                color: $white;
                padding: 15px;
                font: $textBold;
            }
            .fieldLabel{
                width: 100%;
                //Defaults
                @include d-label;
                transition: all .3s ease;
            }
            #passwordFeatureList{
                width: 100%;
                padding: 0 25px ;
                
                li{
                    font: $textBold;
                    color: rgba($color: $black, $alpha: .5);
                    margin-bottom: 10px;
                }
            }
            .posibleError{
                text-align: left;
                width: 100%;
                font: $textBold;
                color: $errorColor;
                margin-bottom: 10px;
            }
            .submitBtn{
                //Defaults
                @include d-btn;
                //Font Style
                color: $white;
                &:disabled{
                    opacity: .5;
                }
            }
        }
    }
}